.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-form { 
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey);
  padding: 20px;
  width: 35%;
  height: auto;
}

.login-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-title_btn {
  border: 1px solid var(--grey);
  padding: 5px 10px;
  cursor: pointer;
}

.active {
  background-color: var(--blue);
  color: var(--white);
}

.login-form_item {
  margin-bottom: 20px;
}

.login-form_item label {
  display: none;
}

.login-form_item input {
  background-color: var(--grey);
  width: 93%;
  outline: none;
  border: none;
  padding: 10px 15px;
}

.login-form_item input:focus {
  background-color: var(--grey);
}

.login-btn {
  background-color: var(--blue);
  padding: 10px;
  color: var(--white);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
}