.home-main {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 80px);
  gap: 10px;
}

.home-main_left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.home-left_title {
  font-size: 42px;
  letter-spacing: 2px;
  font-weight: 600;
}

.home-left_description {
  font-size: 16px;
  letter-spacing: 2px;
}

.home-main_right {
  width: 50%;
}

.home-main_right img {
  width: 100%;
}

.home-btn button {
  border: none;
  background-color: var(--blue);
  padding: 10px 25px;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.home-services {
  margin-bottom: 40px;
}

.home-services h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.home-services_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--grey);
  font-size: 16px;
  letter-spacing: 1px;
}

.home-services_card:hover {
  background-color: var(--darkGrey);
}