.home-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  /* background-color: violet; */
  height: 100%;
}

.home-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-header_top {
  display: flex;
  gap: 10px;
}

.home-header_search {
  display: flex;
  align-items: center;
  flex-basis: 60%;
  gap: 10px;
}

.home-header_search input {
  flex-basis: 100%;
  outline: none;
  border: none;
  background-color: var(--grey);
  padding: 10px 20px;
  border-radius: 5px;
}

.home-search_btn {
  background-color: var(--blue);
  padding: 8px 15px;
  font-size: 16px;
  color: var(--white);
  outline: none;
  border:none;
  border-radius: 5px;
  cursor: pointer;
}

.home-header_btns {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
}

.home-filter_btn {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
  cursor: pointer;
}

.home-filter_btn span {
  height: 100%;
  display: flex;
  align-items: center;
}

.home-filter_box {
  display: flex;
  gap: 20px;
}

.home-filter_item {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.home-filter_item:hover {
  background-color: var(--grey);
  letter-spacing: 1px;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  flex: 1;
}

.test {
  background-color: yellowgreen;
  height: 10rem;
  padding: 40px 10px;
}