.second-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid var(--grey);
  padding: 20px;
  margin-bottom: 25px;
}

.second-back {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.second-userDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.second-userDetails_email {
  font-weight: 700;
}

.second-radio {
  display: flex;
  align-items: center;
  gap: 20px;
}

.second-form_item {
  margin-bottom: 20px;
}

.second-form_item label {
  display: none;
}

.second-form_item input {
  width: 94%;
  padding: 10px 15px;
  outline: none;
  border: none;
  background-color: var(--grey);
  border-radius: 5px;
}

.radioInputs {
  margin-bottom: 20px;
}