.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.register-form {
  border: 1px solid var(--grey);
  padding: 20px;
  width: 40%;
  height: auto;
  margin: 2rem 0;
}

.submit-form {
  padding: 7px 20px;
  cursor: pointer;
  background-color: var(--blue);
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--white);
  font-size: 16px;
}